* {
    margin: 0 auto;
}

body {
    background-color: #e2e2e2;
}

.divTudo {
    font-family: Arial, sans-serif;
}

.divLinha {
    clear: both;
}

.h2TituloSessao {
    font-size: 20px;
}


/* estilos de cabeçalho geral*/

#divCabecalho {
    background-color: #2671f1;
    min-height: 100px;
    padding: 20px 50px 20px 50px;
}

#h1TituloCabecalho {
    color: #ffffff;
    float: left;
    min-width: 50%;
    font-size: 16px;
    text-align: left;
}


/* estilos de classificação */

#divClassificacao {
    width: 50%;
}

#tableClassificacao {
    width: 100%;
    background-color: #ffffff;
}

#h3TituloGrupo {
    font-size: 14px;
}


/* estilos goleadores */

#divGoleadores {
    width: 50%;
}

#tableGoleadores {
    width: 100%;
    background-color: #ffffff;
}


/* estilos jogos */

#divJogos {
    width: 50%;
}

#tableJogos {
    width: 100%;
    background-color: #ffffff;
}

td,
th {
    border: solid 1px;
}